# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.IronBellyStudios.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Private projects\Projects\IronBellyStudios\.idea\.idea.IronBellyStudios\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
